/* 
    Document   : cart
    Created on : Nov 30, 2014, 11:25:22 PM
    Author     : Shawn
    Description:
        Purpose of the stylesheet follows.
*/

.cart {
  color: #E5C800;
}

.cart a {
  color: #E5C800;
}

.cart a:hover {
  color: #E5C800;
}

.cart-large {

}

.cart-large a {
  line-height: 60px;
}

.cart-large .currency {
  float: right;
}

.cart-large .cart-icon {
  display: block;
  background: url(/media/zoo/applications/store/libraries/cart/assets/images/cart.svg);
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin-right: 10px;
  float: right;
}

.cart-large .cart-count {
  width: 20px;
  text-align: center;
  display: block;
  padding-left: 5px;
  height: 12px;
  line-height: 14px;
  padding-top: 1px;
}

.cart-large .cart-count.single-digit {
  font-size: 14px;
  padding-top: 0px;
  line-height: 13px;
}

.cart-large .cart-count.double-digit {
  font-size: 12px;
}

.cart-large .cart-count.triple-digit {
  font-size: 9px;
}

.cart-large .items {
    padding-left:5px;
}
#cart .cart-title, #cart .item-name, #cart .item-update {
    
}

#cart .uk-panel {
  float:none !important;
  max-width:none !important;
}

#cart-modal .item-sku {
	display: block;
  	font-size: 10px;
  	line-height: 10px;
  	color: #525252 !important;
}
#cart-modal .item-options ul {
    margin-bottom: 0px;
}
#cart-modal .option-toggle {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
}
#cart-modal .option-toggle i {
    margin-right: 5px;
}
#cart-modal .item-remove {
  position: relative;
  left: 15px;
}

#cart button {
  margin-right: 5px;
}
#cart-modal .item-options {
    font-weight: 400;
    line-height: 20px;
    background-color: white;
    border: 1px solid #eaeaea;
    padding: 5px;
}
#cart-modal .product .description {
      font-size:1em;
    font-weight:200;
    margin-left:30px;
}
#cart-modal .product .name {
      font-size:1.2em;
}

/*Mobile Cart*/

.cart-small {

}

.cart-small .cart-title {
    font-size: 25px;
}

.cart-small .cart-item-name {
    font-size:20px;
}

.cart-small .cart-item-description {
    font-size:11px;
}

.cart-small .cart-item-price {
    font-size:15px;
    color: #c21818;
}

.cart-small .uk-button {
    font-size: 10px;
}

.cart-small .uk-button-text-large {
    font-size: 15px;
}

.cart-small .cart-subtotal-text {
    font-size:15px;
}

.cart-small .cart-subtotal-price {
    font-size:20px;
    color: #c21818;
}

.cart-small .uk-button-checkout {
    background-image: linear-gradient(to bottom, #E5C800, #93881B);
    color: black;
}
.cart-small .uk-button-checkout:hover {
    background-image: linear-gradient(to bottom, #93881B, #E5C800);
    color: black;
    text-shadow:none;
}

.cart-small .uk-button-checkout:hover:disabled {
   background-color: #fafafa;
    color: #aaaaaa;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.09);
    background-image: none; 
}

.cart-small .cart-icon-container {

}

.cart-small .cart-icon {
  display: block;
  background: url(/media/zoo/applications/store/libraries/cart/assets/images/cart.svg);
  height: 25px;
  width: 25px;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

.cart-small .cart-count {
  width: 20px;
  text-align: center;
  display: block;
  color: #E5C800;
  padding-left: 5px;
  height: 12px;
  line-height: 14px;
  padding-top: 1px;

}

.cart-small .cart-count.single-digit {
  font-size: 14px;
  padding-top: 0px;
  line-height: 13px;
}

.cart-small .cart-count.double-digit {
  font-size: 12px;
}

.cart-small .cart-count.triple-digit {
  font-size: 9px;
}




