 {
	"name": "Job Listing",
	"elements":  {
		"bdb25fcb-1b52-40cb-89e5-894fb4ce3cf7":  {
			"name": "Application",
			"description": "",
			"access": "1",
			"directory": "images\/documents",
			"download_mode": "1",
			"upload_extensions": "pdf",
			"upload_directory": "images\/documents",
			"max_upload_size": "512",
			"type": "download"
		},
		"7eb288e2-bf61-42fd-86d8-2729b11f6050":  {
			"name": "Start Date",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"d245f61b-58aa-47e2-9221-6943ed4d68f2":  {
			"name": "End Date",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"c7a3eca1-5449-4b91-abad-cf59fa22b618":  {
			"name": "Job Description",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"5ffb73a5-83f8-4f03-9737-fb2cdd44c61e":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/job_listings",
			"max_upload_size": "512",
			"type": "image"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}