{
	"name": "ccbc-shelved",
	"elements": {
		"dbe59650-4c2c-4e1c-86b5-77b8e98876a4": {
			"name": "Make \/ Model",
			"description": "",
			"access": "1",
			"type": "makeselect"
		},
		"qty": {
			"name": "Qty",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "1",
			"type": "text"
		},
		"12c45c0e-0e51-4d16-ae1c-8fd893728176": {
			"name": "Gallery",
			"description": "",
			"access": "1",
			"directory": "images",
			"type": "gallery"
		},
		"808b9039-67c5-427e-94db-4581336e94a5": {
			"name": "Teaser Photo",
			"description": "",
			"access": "1",
			"upload_directory": "images",
			"max_upload_size": "512",
			"type": "image"
		},
		"boat_style": {
			"name": "Boat Style",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Center Console",
					"value": "cc"
				},
				"1": {
					"name": "Dual Console",
					"value": "dc"
				},
				"2": {
					"name": "Walkaround",
					"value": "wa"
				},
				"3": {
					"name": "Catamaran",
					"value": "cb"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"motors": {
			"name": "Motors",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Single",
					"value": "1"
				},
				"1": {
					"name": "Twin",
					"value": "2"
				},
				"2": {
					"name": "Triple",
					"value": "3"
				},
				"3": {
					"name": "Quadruple",
					"value": "4"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"year": {
			"name": "Model Years",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"fabric": {
			"name": "Fabric",
			"description": "",
			"access": "1",
			"default": "9ply",
			"option": {
				"0": {
					"name": "9oz. Material 5yr. Warranty",
					"value": "9ply"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"color": {
			"name": "Color",
			"description": "",
			"access": "1",
			"default": "navy",
			"option": {
				"0": {
					"name": "Navy",
					"value": "n"
				},
				"1": {
					"name": "Black",
					"value": "b"
				},
				"2": {
					"name": "Tan",
					"value": "t"
				},
				"3": {
					"name": "Gray",
					"value": "g"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"zipper": {
			"name": "Zipper Access",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Port Side",
					"value": "zp"
				},
				"1": {
					"name": "Starboard Side",
					"value": "zs"
				},
				"2": {
					"name": "Center Rear",
					"value": "cr"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"bow_rails": {
			"name": "Bow Rails",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "Low - 8in or less",
					"value": "l"
				},
				"2": {
					"name": "Recessed",
					"value": "r"
				},
				"3": {
					"name": "High - 9in or more",
					"value": "h"
				},
				"4": {
					"name": "Walk Through",
					"value": "wt"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"trolling_motor": {
			"name": "Trolling Motor",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "Yes",
					"value": "y"
				},
				"1": {
					"name": "No",
					"value": "n"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"8a1395fa-c914-48b4-98cf-a7de5331f105": {
			"name": "Poling Platform",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "None",
			"type": "text"
		},
		"power_poles": {
			"name": "Power Poles",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "Port Side Engine Bracket Mount",
					"value": "peb"
				},
				"2": {
					"name": "Starboard Side Engine Bracket Mount",
					"value": "seb"
				},
				"3": {
					"name": "Dual Engine Bracket Mount",
					"value": "deb"
				},
				"4": {
					"name": "Port Side Transom Mount",
					"value": "ptm"
				},
				"5": {
					"name": "Starboard Side Transom Mount",
					"value": "stm"
				},
				"6": {
					"name": "Dual Transom Mount",
					"value": "dtm"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"swim_ladder": {
			"name": "Swim Ladder",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "In Laid",
					"value": "sl-i"
				},
				"2": {
					"name": "Removeable",
					"value": "sl-r"
				},
				"3": {
					"name": "Platform",
					"value": "sl-p"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"jack_plate": {
			"name": "Jack Plate",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "4 inch",
					"value": "jp4"
				},
				"2": {
					"name": "6 inch",
					"value": "jp6"
				},
				"3": {
					"name": "8 inch",
					"value": "jp8"
				},
				"4": {
					"name": "10 inch",
					"value": "jp10"
				},
				"5": {
					"name": "12 inch",
					"value": "jp12"
				},
				"6": {
					"name": "14 inch",
					"value": "jp14"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"ski_tow_bar": {
			"name": "Ski Tow Bar",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "Above the engine",
					"value": "above"
				},
				"2": {
					"name": "In front of the engine",
					"value": "in-front"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"6f37a18c-5c46-4d82-a00c-f24718d9d2b8": {
			"name": "Additional Information",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"5c92aa7c-78d4-4be8-b8ad-e08763d76b57": {
			"name": "Price",
			"description": "",
			"access": "1",
			"price_type": "",
			"type": "price"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}