{
	"name": "ttbc-shelved",
	"elements": {
		"qty": {
			"name": "Qty",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "1",
			"type": "text"
		},
		"a0b852d2-19da-4565-a2a2-196ad1b2ee86": {
			"name": "Swim Ladder",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "In Laid",
					"value": "sl-i"
				},
				"2": {
					"name": "Removeable",
					"value": "sl-r"
				},
				"3": {
					"name": "Platform",
					"value": "sl-p"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"29dac586-30e1-41fc-bd12-21930f1e80e0": {
			"name": "Boat Style",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Center Console",
					"value": "cc"
				},
				"1": {
					"name": "Dual Console",
					"value": "dc"
				},
				"2": {
					"name": "Walkaround",
					"value": "wa"
				},
				"3": {
					"name": "Catamaran",
					"value": "cb"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"97d7d74f-f901-4c36-9c3d-e9ae0c03d434": {
			"name": "Jack Plate",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "4 inch",
					"value": "jp4"
				},
				"2": {
					"name": "6 inch",
					"value": "jp6"
				},
				"3": {
					"name": "8 inch",
					"value": "jp8"
				},
				"4": {
					"name": "10 inch",
					"value": "jp10"
				},
				"5": {
					"name": "12 inch",
					"value": "jp12"
				},
				"6": {
					"name": "14 inch",
					"value": "jp14"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"5ea99a32-1ec7-4203-9a17-c96e5a9e0f63": {
			"name": "Ski Tow Bar",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "Above the engine",
					"value": "above"
				},
				"2": {
					"name": "In front of the engine",
					"value": "in-front"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"caa3e5aa-ef82-4006-b6ff-63940cc8a9c9": {
			"name": "Trolling Motor",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "Yes",
					"value": "y"
				},
				"1": {
					"name": "No",
					"value": "n"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"4276d891-bcf9-43aa-92cc-d14da6e5e020": {
			"name": "Motors",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Single",
					"value": "1"
				},
				"1": {
					"name": "Twin",
					"value": "2"
				},
				"2": {
					"name": "Triple",
					"value": "3"
				},
				"3": {
					"name": "Quadruple",
					"value": "4"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"348879c5-2cd9-460c-90ca-faa8bdcde9b9": {
			"name": "Boat Length",
			"description": "",
			"access": "1",
			"field_name": "boat_length",
			"option_type": "attributes",
			"layout": "dropdown",
			"default": "",
			"option_list": "boat_length",
			"all_options": "0",
			"all_items": "1",
			"items": "",
			"type": "itemoptions"
		},
		"c013bbd6-7dfa-40f9-9c34-8b6f9ee5e4f0": {
			"name": "Zipper Side",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Port Side",
					"value": "zp"
				},
				"1": {
					"name": "Starboard Side",
					"value": "zs"
				},
				"2": {
					"name": "Center Rear",
					"value": "cr"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"86e63893-5862-4541-8b69-26f5c6f7f945": {
			"name": "Price",
			"description": "",
			"access": "1",
			"price_type": "",
			"type": "price"
		},
		"dd37117b-1610-41d4-9c52-5b3f002eb1f1": {
			"name": "Teaser Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"ee0ab394-42f7-44cb-80c3-8b73b7ea6222": {
			"name": "Bow Rails",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "Low - 8in or less",
					"value": "l"
				},
				"2": {
					"name": "Recessed",
					"value": "r"
				},
				"3": {
					"name": "High - 9in or more",
					"value": "h"
				},
				"4": {
					"name": "Walk Through",
					"value": "wt"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"6abd0881-d5d6-48f8-8031-a8e4e66bdfc1": {
			"name": "Boat Make",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"14c6302b-e2e5-4601-a755-e85e5c84f171": {
			"name": "Boat Model",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"3b0d5f54-0285-45af-ac80-08ab3e258749": {
			"name": "Years Applicable",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "2000 - Current",
			"type": "text"
		},
		"70ebbd0c-6302-4aa6-a273-acf1718e5d76": {
			"name": "Color",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Navy",
					"value": "n"
				},
				"1": {
					"name": "Black",
					"value": "b"
				},
				"2": {
					"name": "Tan",
					"value": "t"
				},
				"3": {
					"name": "Gray",
					"value": "g"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"2ce9144c-d024-463b-b279-539b61a953c7": {
			"name": "Fabric",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Material 7oz. 3yr. Warranty",
					"value": "7oz"
				},
				"1": {
					"name": "Material 8oz. 5yr. Warranty",
					"value": "8oz"
				},
				"2": {
					"name": "Material 9oz. 5yr. Warranty",
					"value": "9oz"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}