{
	"name": "ttbc-shelved",
	"elements": {
		"6c37c555-9db3-4b3c-bd1b-1a221075562c": {
			"name": "Gallery",
			"description": "",
			"access": "1",
			"directory": "images\/boats",
			"type": "gallery"
		},
		"boat_length": {
			"name": "Boat Length",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "18 - 19",
					"value": "1819"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"qty": {
			"name": "Qty",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "1",
			"type": "text"
		},
		"swim-ladder": {
			"name": "Swim Ladder",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "In Laid",
					"value": "sl-i"
				},
				"2": {
					"name": "Removeable",
					"value": "sl-r"
				},
				"3": {
					"name": "Platform",
					"value": "sl-p"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"boat-style": {
			"name": "Boat Style",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Center Console",
					"value": "cc"
				},
				"1": {
					"name": "Dual Console",
					"value": "dc"
				},
				"2": {
					"name": "Walkaround",
					"value": "wa"
				},
				"3": {
					"name": "Catamaran",
					"value": "cb"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"jack_plate": {
			"name": "Jack Plate",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "4 inch",
					"value": "jp4"
				},
				"2": {
					"name": "6 inch",
					"value": "jp6"
				},
				"3": {
					"name": "8 inch",
					"value": "jp8"
				},
				"4": {
					"name": "10 inch",
					"value": "jp10"
				},
				"5": {
					"name": "12 inch",
					"value": "jp12"
				},
				"6": {
					"name": "14 inch",
					"value": "jp14"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"ski_tow_bar": {
			"name": "Ski Tow Bar",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "Above the engine",
					"value": "above"
				},
				"2": {
					"name": "In front of the engine",
					"value": "in-front"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"trolling_motor": {
			"name": "Trolling Motor",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "Yes",
					"value": "y"
				},
				"1": {
					"name": "No",
					"value": "n"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"motors": {
			"name": "Motors",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Single",
					"value": "1"
				},
				"1": {
					"name": "Twin",
					"value": "2"
				},
				"2": {
					"name": "Triple",
					"value": "3"
				},
				"3": {
					"name": "Quadruple",
					"value": "4"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"zipper": {
			"name": "Zipper Side",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Port Side",
					"value": "zp"
				},
				"1": {
					"name": "Starboard Side",
					"value": "zs"
				},
				"2": {
					"name": "Center Rear",
					"value": "cr"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"86e63893-5862-4541-8b69-26f5c6f7f945": {
			"name": "Price",
			"description": "",
			"access": "1",
			"price_type": "",
			"type": "price"
		},
		"dd37117b-1610-41d4-9c52-5b3f002eb1f1": {
			"name": "Teaser Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"bow_rails": {
			"name": "Bow Rails",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "Low - 8in or less",
					"value": "l"
				},
				"2": {
					"name": "Recessed",
					"value": "r"
				},
				"3": {
					"name": "High - 9in or more",
					"value": "h"
				},
				"4": {
					"name": "Walk Through",
					"value": "wt"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"6abd0881-d5d6-48f8-8031-a8e4e66bdfc1": {
			"name": "Boat Make",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"14c6302b-e2e5-4601-a755-e85e5c84f171": {
			"name": "Boat Model",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"year": {
			"name": "Years Applicable",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "2000 - Current",
			"type": "text"
		},
		"color": {
			"name": "Color",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Navy",
					"value": "n"
				},
				"1": {
					"name": "Black",
					"value": "b"
				},
				"2": {
					"name": "Tan",
					"value": "t"
				},
				"3": {
					"name": "Gray",
					"value": "g"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"fabric": {
			"name": "Fabric",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Material 7oz. 3yr. Warranty",
					"value": "7oz"
				},
				"1": {
					"name": "Material 8oz. 5yr. Warranty",
					"value": "8oz"
				},
				"2": {
					"name": "Material 9oz. 5yr. Warranty",
					"value": "9oz"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"power_poles": {
			"name": "Power Poles",
			"description": "",
			"access": "1",
			"default": "n",
			"option": {
				"0": {
					"name": "None",
					"value": "n"
				},
				"1": {
					"name": "Port Side Engine Bracket Mount",
					"value": "peb"
				},
				"2": {
					"name": "Starboard Side Engine Bracket Mount",
					"value": "seb"
				},
				"3": {
					"name": "Dual Engine Bracket Mount",
					"value": "deb"
				},
				"4": {
					"name": "Port Side Transom Mount",
					"value": "ptm"
				},
				"5": {
					"name": "Starboard Side Transom Mount",
					"value": "stm"
				},
				"6": {
					"name": "Dual Transom Mount",
					"value": "dtm"
				}
			},
			"multiple": "0",
			"type": "optionselect"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}