<div class="uk-grid" data-uk-grid-margin="">
	<div class="uk-width-1-1 uk-article-title uk-text-contrast">T-Top Boat Covers
		<hr class="uk-article-divider" />
	</div>
	<div class="uk-width-1-1 uk-article-lead uk-text-contrast">Invest In A Durable Cover Built To Last With Easy Installation And Minimal Maintenance</div>
	<div class="uk-width-1-1">
		<p style="text-align: center;"><a href="index.php?option=com_zoo&amp;view=category&amp;layout=category&amp;Itemid=132" class="uk-button uk-button-danger">FIND YOUR COVER</a></p>
	</div>
	<div class="uk-width-1-1 uk-margin">
		<p>Let's face it, cleaning your boat after a trip is hard enough without having to clean it again before going out. &nbsp;Not only does your Custom T-Top Boat Cover allow you to spend more time on the water, your investment is protected by a durable cover - custom fit to your specific boat model.</p>
		<ul>
			<li>Covering your boat is an easy one-man job.</li>
			<li>Our lightweight covers are uniquely designed with webbing straps and adjustable clips that allow for easy positioning and a secure fit on a wide range of T-Top frames.</li>
			<li>Install or remove in as little as five minutes.</li>
			<li>Our covers are designed for storage on Trailers, Boat lifts, Dry Stacks and Jet Docks.</li>
		</ul>
		<div class="uk-panel uk-panel-box uk-panel-box-important uk-margin">Our covers are not designed for in-water use or travel use. Traveling with your cover on will void the warranty.</div>
		<p style="text-align: center;"><span style="font-size: 24pt;">T-Top Covers are designed around your storage needs.</span></p>
	</div>
	<div class="uk-width-1-1">
		<div>
	  [widgetkit id="4" name="Protect your investment"]
		</div>
  </div>
	<div class="uk-width-1-1 uk-article-title uk-text-contrast">T-Top Boat Cover Easy and Minimal Maintenance</div>
	<p>One of the best ways to keep your T-Top Boat Cover fabric looking good and to delay the need for deep or vigorous cleaning is to hose the cover off on a monthly basis with clear water. This helps prevent dirt from becoming deeply embedded in the fabric and elminate the need for more frequent vigorous cleaning.</p>
	<div class="uk-width-1-1">
	  [widgetkit id="3" name="Easy and Minimal Maintenance"]
  	</div>
	<div class="uk-width-1-1 uk-text-center uk-article-lead uk-text-contrast">We recommend that you clean your cover while on the boat, follow these simple steps:</div>
	<div class="uk-width-1-1">
		<ol>
			<li style="text-align: left;">Brush off loose dirt</li>
			<li style="text-align: left;">Hose down</li>
			<li style="text-align: left;">Prepare a cleaning solution of water and mild soap such as Woolite or Dawn dishwashing liquid</li>
			<li style="text-align: left;">Use a soft bristle marine brush to clean</li>
			<li style="text-align: left;">Allow cleaning solution to soak into the fabric up to 20 minutes</li>
			<li style="text-align: left;">Rinse thoroughly until all soap residue is removed</li>
			<li style="text-align: left;">Air dry</li>
		</ol>
		<p><span style="font-size: 14pt;">If stubborn stains persist, you can use a diluted bleach/soap mixture for spot cleaning of mildew or bird droppings:</span></p>
		<ul>
			<li style="text-align: justify;"><span style="font-size: 14pt;">Mildew - 1/4 cup dishwashing liquid / 1 cup bleach / 1 gallon water</span></li>
			<li style="text-align: justify;"><span style="font-size: 14pt;">Bird droppings - 1/4 cup dishwashing liquid / 1 gallon water</span></li>
		</ul>
		<p>If the inside of your cover needs cleaning, you can install your cover inside out on your boat. The zipper entry will be on the other side. Follow the same instructions listed above.</p>
	</div>
	<div class="uk-width-1-1 uk-text-center">
		<p>Take a look at our long list of available patterns.</p>
		<a href="index.php?option=com_zoo&amp;view=category&amp;layout=category&amp;Itemid=132" class="uk-button uk-button-danger">FIND YOUR COVER</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="fabrics" class="uk-button uk-button-danger">FABRIC OPTIONS</a>
		<p>Don't see your cover? We are making new patterns everyday. Give us a call (843) 760-6101 or <a href="/about-us/contact-us" class="uk-text-warning">contact us</a>.</p>
	</div>
</div>